<script type="text/x-handlebars-template" id="favorite-posts">
  <div class="col-md-3 fav-post-div">
    <h3>{{title}}</h3>
    <img src="{{mini_image_url}}" alt="" />
  </div>
</script>

<script type="text/x-handlebars-template" id="new-posts">
  <h1>new</h1>
</script>

<script type="text/x-handlebars-template" id="popular-posts">
  <h1>popular</h1>
</script>
