  <div class="tabpanel">

    <div class="btn-group btn-group-lg col-md-offset-4 nav nav-tabs" role="group" aria-label="...">
      <a href="#favorites-p" aria-controls="favorites" role="tab" data-toggle="tab" class="btn btn-default">Favorites</a>
      <a href="#popular-p" aria-controls="popular" role="tab" data-toggle="tab" class="btn btn-default">Popular Page</a>
      <a href="#new-p" aria-controls="new" role="tab" data-toggle="tab" class="btn btn-default">New Posts</a>
    </div>

  <div class="container">

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="favorites-p">
        <div class="row" id="favorites">

        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="popular-p">
        <div class="row" id="popular">

        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="new-p">
        <div class="row" id="new">

        </div>
      </div>

    </div>
  </div>

  <%= render 'scripts' %>

</div>
