<div class="tabpanel">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav-stacked nav-pills nav" style="text-align: center;">
          <li class="active"><a href="#favorites-p" aria-controls="favorites" role="tab" data-toggle="tab" class="btn btn-default"><i class="fa fa-star"></i></a></li>
          <li><a href="#popular-p" aria-controls="popular" role="tab" data-toggle="tab" class="btn btn-default"><i class="fa fa-fire"></i></a></li>
          <li><a href="#new-p" aria-controls="new" role="tab" data-toggle="tab" class="btn btn-default"><i class="fa fa-newspaper-o"></i></a></li>
        </ul>
      </div>

      <div class="col-md-10 ">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="favorites-p">
            <div class="row col-md-8 col-md-offset-2" >
              <div class="list-group" id="favorites">

              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="popular-p">
            <div class="row col-md-8 col-md-offset-2" >
              <div class="list-group" id="popular">

              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="new-p">
            <div class="row col-md-8 col-md-offset-2" >
              <div class="list-group" id="new">

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%= render 'scripts' %>
