<script type="text/x-handlebars-template" id="post-comments">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-text">{{message}}</h4>
    <em>User: {{user.username}}</em> </br>
    <em>Created: {{created_at}} </em>
  </a>
</script>
