/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_tree
*= require animate
*= require jquery-ui
*= require rails_bootstrap_forms
*= require_self
*/

@import '../../../vendor/assets/stylesheets/_variables.scss';
@import 'bootstrap';
@import 'bootstrap-sprockets';
@import '../../../vendor/assets/stylesheets/_bootswatch.scss';
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'font-awesome';


.navbar-nav i {
  margin-right: 5px;
}

.window{
    width:100%;
    height:100%;
    position:absolute;
}

/*HELP PAGE CSS*/
.main-help-text{
  margin: 5px auto;
  text-align: center;
}

.help-bubbles{
  height: 200px;
  color: gray;
  margin-top: 10px;
}

.help-bubbles h2{
  text-align: center;
}

.faq-bubble{
  height: 200px;
  text-align: center;
}

.faq-bubble h5{
 margin-top: 5px;
}

.faq-bubble a{
  margin-top: 40px;
}

.search-bubble{
  height: 200px;
  color: gray;
  text-align: center;
}

.search-form{
  padding-top: 5px;
}

.search-bubble a {
  margin-top: 32px;
}

.suggestion-bubble{
  height: 200px;
  color: gray;
  text-align: center;
}

.suggestion-bubble h5{
  padding-top: 5px;
}

.suggestion-bubble a {
  margin-top: 21px;
}

.btn-primary{
  background-color: #FC7100;
  background-image: none;
  border: 1px solid #FC7100;
}

.btn-primary:hover{
  background-color: #FC7200;
  background-image: none;
  border: 1px solid #fc7200;
}
