// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users.new {
 background-image: url('/assets/butt_tag.jpg');
 background-repeat: no-repeat;
 background-size: 100%;
 background-attachment: fixed;
}

.login.index{
background-image: url('/assets/butt_tag.jpg');
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
}

.container{
  height: 100%;
}

.veil{
  background-color: rgba(225,225,225,0.2);
  margin: 0 auto 0 auto;
  border-radius: 10px;
  display: block;
  align: center;
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;
  align: center;
  margin: 0px auto 75px auto;
}

.login-form {
  margin-top: 75px;
}

.logo{
  margin: 0 auto;
  text-align: center;
}

.form-control{
  margin: 7px auto;
}

.nav-stacked {
  margin-top: 50px;
}

.post-info{
  margin-left: 15px;
}

#favorites-p {
  margin-top: 50px;
}

#new-p {
  margin-top: 50px;
}

#popular-p {
  margin-top: 50px;
}
