// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face{
  font-family: "firefly";
  src:url(/assets/fonts/firefly.otf);
}

.main-login-text{
  text-align: center;
}

.main-login-text h1{
  font-family: "firefly";
  font-size: 100px;
  color: #FFFFFF;
  letter-spacing: .1em;
}

.users.new {
  background-color: #858585;
}

.login.index{
  background-color: #858585;
}

.title-h1{
  font-size: 74px;
  color: white;
}

.dash-logo {
  margin-top: 150px;
  margin-left: -40px;
}

.container{
  height: 100%;
}

.approve-title {
  font-size: 74px;
  color: white;
  margin-left: 35;
}

.approve-logo{
  margin-top: 50px;
}

.veil{
  background-color: rgba(0,0,0,0.2);
  margin: 0 auto 0 auto;
  border-radius: 10px;
  display: block;
  align: center;
}

.veil-container{
  margin-top: 50px;
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;
  align: center;
  margin: 0px auto 75px auto;
}

.login-form {
  margin-top: -20px;
}

.logo{
  margin: 0 auto;
  text-align: center;
}

.form-control{
  margin: 7px auto;
}

.nav-stacked {
  margin-top: 150px;
}

.post-info{
  margin-left: 35px;
}

.dash-title {
  color: white;
}

#favorites-p {
  margin-top: 25px;
}

#new-p {
  margin-top: 25px;
}

#popular-p {
  margin-top: 25px;
}

.tab-content h2,h3{
  text-overflow: none;
  word-wrap: break-word;
}
