// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts.index {
    // background-image: url('/assets/orange-denim.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.fav-post-div {
  height: 15px
}

.index-post-div {
  max-height: 450px;
  height: 450px;
  overflow-y: auto;
}
.new-post-logo {
  margin-left: 50px;
}
