// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  margin-left: auto;
  margin-right: auto;
}

.user-admin-buttons {
  margin-top: 25px;
}
.profile-picture{
  height: 175px;
  width: 200px;
}

.user-height {
  margin-top:0px;
}

.user-sidebar {
  height: 650px;
  position: fixed;
  top: -250px
}

.panel{
  max-height: 250px;
  overflow-y: auto;
}

.text-wrap{
  padding-bottom: 1px;
}

.text-wrap h2{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-left: 5px;
}

.text-wrap h3{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-left: 5px;
}

.right-panel {
  margin-left: 10px;
}

.user-logo {
  margin-bottom: 20px;
}

.panel {
  max-height: 250px;
  overflow-y: auto;
}

.twitter-hover {
    background-image: url(/assets/twitter-hover-orange.png);
}
.facebook-hover {
    background-image: url(/assets/facebook-hover-orange.png);
}
.instagram-hover {
    background-image: url(/assets/instagram-hover-orange.png);
}

.social-icons{
  padding-right: 20px;
}

.social-sprite {
    display: block;
    float: left;
    height: 48px;
    margin-top: 10px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
    width: 48px;
}

.social-icons:first-child{
  margin-left: none;
  padding-left: none;
}
.social-sprite:hover {
    background-position: 0 -48px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8);
}

/*#CC5C00*/
