// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  margin-left: auto;
  margin-right: auto;
}

.user-sidebar {
  height: 640px;
  position: fixed;
  top: -200px
}

.right-panel {
  margin-left: 10px;
}

.user-logo {
  margin-bottom: 15px;
}

.panel {
  max-height: 250px;
  overflow-y: auto;
}
